.nav {
  min-height: 75px;
  letter-spacing: 4px;
}

.logo {
  font-size: 18px;
  padding: 5px;
}

.brand,
.pageLinks a,
.user,
.changePassword,
.username {
  font-size: 18px;
  color: black;
}

.brand {
  margin-left: 20px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase; /* Viết in hoa */
}

.brand:hover {
  color: #1679AB;
}

.pageLinks {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pageLinks a {
  font-weight: 500;
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  font-family: sans-serif;
  text-transform: uppercase; /* Viết in hoa */
}

.pageLinks a:hover {
  border-bottom: 1px solid #1679AB;
}

.disabled a {
  cursor: not-allowed;
  color: #1679AB;
}

.disabled a:hover {
  border: none;
}

a.active {
  color: #1679AB;
  border-radius: 2px;
  border-bottom: 1px solid #1679AB;
}

.user {
  letter-spacing: 2px;
  color: #1679AB;
  font-family: sans-serif;
}

.user:hover,
.user:active {
  outline: none;
}

.dropDown > .dropdown-menu {
  width: 14rem;
}

.dropDown a {
  width: 100%;
  display: block;
}

.changePassword {
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
}

.changePassword:hover {
  color: #1679AB;
  font-weight: bold;
}

.user button:hover,
button:active {
  outline: none;
}

.userLogo {
  padding: 4px;
  margin-right: 2px;
}

@media screen and (max-width: 281px) {
  .brand {
    margin-left: 0;
    font-size: 18px;
  }
}
